.Container {
    flex-direction: column;
    font-weight: 700;
    align-items: center;
    padding-top: 10px;
    /* padding-bottom: 200px; */
    /* background-color: transparent */
    
}

.FormBtn {
    margin-top: 10px;
    background-color: #3350f7;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #EFFAFF;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    
}

.titulo {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #4eb5c2;
    color: #152e37;
    border: 1px solid transparent;
    border-radius: 8px;
    border-color: #152e37;


}

.input {
    width: 300px;
    height: 50px;
    background-color: #BAE6EA;
    margin-top: 5px;
    border: 1px solid #152e37;
    border-radius: 8px;
    padding: 5px;

}

.formulario {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.div {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-top: 10px; */
    /* font-size: 30px; */
}

.labels {
    color: #152e37;
}
