  
  .listaContainerAdminUser {
    width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #182b39;
    /*margin: 20px 80px 20px;*/
    padding-top: 25px;
    padding-bottom: 25px;
    background: #cae0ed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
    overflow-y: scroll;
  }
  
  .listaUser {
    display: flex;
    flex-direction: row;
   
    align-items: center;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;
  }
  
  .tituloListaAdminUser {
    width: 900px;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #cae0ed;
    color: #182b39;
    text-align: center;
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
  }
  
  .idUser {
    font-weight: bold;
    
    min-width: 50px;
  }
  
  .btnEditUser {
    margin-right: 20px;
    background-color: #28a745; /* Cambia el color de fondo a verde brillante */
    color: #fff; /* Cambia el color del texto a blanco */
    border: 1px solid #28a745; /* Cambia el borde al mismo color de fondo */
    transition: background-color 0.25s; /* Agrega una transición al cambio de color de fondo */
    width: 151px;
    /* Agrega un efecto de brillo al pasar el mouse */
    &:hover {
      background-color: #4caf50; /* Cambia el color de fondo al pasar el mouse */
    }
  }
  
  .admin-btn-containerUser {
    display: flex;
    width:fit-content;
    justify-content: space-between;
    gap:inherit;
    
  }
  
  
  .nombreUser {
    
    width: 350px;
  
  }
  
  .rolUser {
    width: 100px;
    
    gap: 10px;
    text-align: center;
  }