.listaPaginada {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    gap: 10px;
    padding: 20px;
    background-color: white;
    background-color: lightblue;
}



li {
    flex-direction: column;
    font-weight: 700;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title{
    font-size: 14px;
    margin: 0
}

p {
    color: rgb(49, 49, 49);
    padding-top: 5px;
    margin-bottom: 2px;
}

.price {
    color: rgb(216, 61, 61);
}

.book img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.listaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    padding-top: 50px;
    background-color: lightblue;
}

@media (max-width: 768px) {
    .listaPaginada {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
    .listaPaginada {
        grid-template-columns: repeat(1, 1fr);
    }

    .title {
        font-size: 12px;
    }

    .recomendacion {
        font-size: 38px; /* You can adjust the font size as needed */
    }

}

@media (max-width: 340px) {
    .recomendacion {
        font-size: 28px; /* You can adjust the font size as needed */
    }
}