.recomendacion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow:
        -3px -3px 0 #a2c4d7,
        3px -3px 0 #a2c4d7,
        -3px 3px 0 #a2c4d7,
        3px 3px 0 #a2c4d7,
        3px 0 0 #a2c4d7,
        0 3px 0 #a2c4d7,
        -3px 0 0 #a2c4d7,
        0 -3px 0 #a2c4d7,
        3px 3px 6px #a2c4d7;
}



.listaPaginada {
    gap: 10px;
    width: 80%;
    padding: 20px;
    display: grid;
    background: transparent;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

li {
    flex-direction: column;
    font-weight: 700;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}


.title {
    text-align: center;
    font-size: 20px;
    margin: 0;
    overflow:visible;
    margin-top: 10px;
    text-shadow: 3px -2px 1px #F89344;
    font-weight: 700;
}

.p {
    padding-top: 5px;
    margin-bottom: 2px;
    
}

.price {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    color: rgb(216, 61, 61);
    /* -webkit-text-stroke: 0.5px rgb(227, 20, 20); */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    
}

/* p:last-child{
    margin-top: auto;
} */

.book img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.listaContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a2c4d7;
    background: url('../../img/bgrec.png') center/cover no-repeat;
    padding-top: 35px;
}


@media (max-width: 768px) {
    .listaPaginada {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .book img {
        width: 200px;
    }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
    .listaPaginada {
        grid-template-columns: repeat(1, 1fr);
    }

    .title {
        font-size: 12px;
    }

    .recomendacion {
        font-size: 38px;
        /* You can adjust the font size as needed */
    }

}

@media (max-width: 340px) {
    .recomendacion {
        font-size: 28px;
        /* You can adjust the font size as needed */
    }
}