

.listaContainerAdmin {
  width: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #182b39;
  /*margin: 20px 80px 20px;*/
  padding-top: 25px;
  padding-bottom: 25px;
  background: #cae0ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 11px 09px 10px #00000061;
  overflow-y: scroll;
}

.lista {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px 0;
}

.tituloListaAdmin {
  width: 900px;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #cae0ed;
  color: #182b39;
  text-align: center;
  border-radius: 10px;
  box-shadow: 11px 09px 10px #00000061;
}

.id {
  font-weight: bold;
 
  min-width: 50px;
}

.btnEdit {
  margin-right: 20px;
  background-color: #28a745; /* Cambia el color de fondo a verde brillante */
  color: #fff; /* Cambia el color del texto a blanco */
  border: 1px solid #28a745; /* Cambia el borde al mismo color de fondo */
  transition: background-color 0.25s; /* Agrega una transición al cambio de color de fondo */

  /* Agrega un efecto de brillo al pasar el mouse */
  &:hover {
    background-color: #4caf50; /* Cambia el color de fondo al pasar el mouse */
  }
}

.admin-btn-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
  gap:inherit;
  
}


.nombre {
  
  min-width: 595px;

}

