.admin-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0;
    margin: 0;
}


.bienvenida{
    color: #fe4411;
    text-align: center;
    padding-top: 20px;
}

.subtit{
    color: #fe4411;
}

.panel{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    background-color: lightblue;
    border: 15px solid transparent;
    border-radius: 8px;
    gap: 10px;
    margin: 50px;


}

.adminBtn{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fe4411;
    border: 30px solid transparent;
    border-radius: 8px;
    color: #EFFAFF;
    cursor: pointer;
    padding: 10px 15px;
    /* margin-left: 100px; */
    
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    width:200px ;
    height:40px ;
}

.hipervinc{
    color: white;
    
}

