.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 100vw; */
    /* height: auto; */
    padding-top: 40px;
}

.admin-img {
    /* width: fill-available; */
    height: 100px;
}

.welcome-admin {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 80px 0px 20px 0px;
    /* width: 30vw; */
    min-width: 200px;
    /* min-height: 100px; */
    border-radius: 30px;
    background-color: none;
}

.welcome-admin h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    /* letter-spacing: 0.4166666865348816px; */
    text-align: center;
    color: #2a5c7a;
    margin: 2px 0px;
}

.welcome-admin h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.009999999776482582px;
    text-align: center;
    margin: 12px 0px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 20vw;
    height: 150vh;
    min-width: 200px;
    background: linear-gradient(#97c6e6, white);
    margin-top: -40px;

}

.buttons-container button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 80px;
}

.admin-panel {
    display: flex;
    align-items: flex-start;
}


.buttons-container button h3 {
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.009999999776482582px;
    text-align: center;
    color: #152e37;
    ;
}

.list-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    min-width: 470px;
    min-height: 115px;
    background-color: white;
    margin: 10px 0;
}

.selected-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    min-width: 75vw;
}

.buttons-container button:hover {
    background-color: #539dc2;
}

.add-product,
.add-feature,
.add-category {
    margin-left:auto ;

}

.add-product h3,
.add-feature h3,
.add-category h3 {
    display: flex;
    
}

.MuiSvgIcon-root{
    margin-top: -5px;
}