/* Estilos para Perfil */

.contentContainerPerfil {
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-list {
    max-width: 600px; /* Ajusta el valor según tus necesidades */
    background: rgb(84, 157, 194);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}

.vertical-list {
    display: flex;
    flex-direction: column;
    color: #cae0ed;
}

.perfil-list h2 {
    color: #cae0ed;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.perfil-list ul {
    list-style-type: none;
    padding: 0;
}

.perfil-list li {
    font-size: 16px;
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.perfil-list li:last-child {
    border-bottom: none;
}

.perfil-list ul li {
    display: block;
}

.normal-text {
    font-weight: normal;
}
