        .form {
  margin-top: 20px;
  margin-bottom: 50px;
}

.all {
  display: flex;
}
.title{
  color: #1b2430;
  font-size: larger;
  margin-bottom: 1.5rem;
}

.input {
  all: unset;
  color: gray;
  padding: 1rem;
  border: 1px solid #9cc6dd;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0.5rem;
  margin-top: 2.5em;
  
}
.inputResidencia {
  all: unset;
  color: black;
  padding: 1rem;
  border: 1px solid #9cc6dd;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0.5rem;
  margin-top: 2.5em;
  
}

.imput {
  margin-right: 150px;
}

.label {
  color: #1b2430;
  display: inline-block;
  width: 180px;
}
.botones {
  margin-top: 20px;
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.btn {
  background-color: #f85344;
  color: #e7f1f7;
  padding: 12px 33px;
  margin-top: 10px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 10%;
  margin: 20px;
  overflow: hidden;
  transition: color 0.5s;
  cursor: pointer;
  box-shadow: 11px 10px 18px -8px rgba(0,0,0,0.68);
}

.btn:hover {
  background-color: rgb(194, 53, 51);
  cursor: pointer;
}

.btn-disabled {
  background: linear-gradient(to right, #418cb1, #327297);
  font-size: 0.9rem;
 /* color: #e7f1f7;
  padding: 12px 33px;
  margin-top: 10px;
  border: 2px solid #9cc6dd;
  border-radius: 18px;
  position: relative;
  /* z-index: -1; */
  overflow: hidden;
  transition: color 0.5s;
  cursor: pointer;
  opacity: 0.5; 
  cursor: not-allowed; 
}



.author {
  color: #1b2430;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  color: #1b2430;
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
}

.titleCategorias {
  color: #1b2430;
  text-align: center;
}

.categorias {
  color: #1b2430;
  justify-content: center;
  margin-right: 40px;
}

.titleCaracteristicas {
  color: #1b2430;
  text-align: center;
}

.caracteristicas {
  color: #1b2430;
  justify-content: center;
  margin-right: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4;
  width: 600px;
  height: min-content;
  padding: 25px;
  margin: 5px;
  margin-left: 50px;
  background-color: #fff;
  border-radius: 8px;
}

.price {
  color: #1b2430;
  text-align: center;
}

.price span {
  color: #1b2430;
  font-weight: bold;
}

.price p {
  color: #1b2430;
  font-weight: bold;
  

}

.imgUrl {
  height: 300px;
  margin: 10px 15px 0;
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.requiredIndicator {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: red;
  font-size: 1.5em;
}

.obligatorio {
  color: red;
}

.cuerpo{
  font-weight: 500;
  font-size: larger;
}

.btnAtras {
  background-color: #F89344;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 10%;
  margin: 20px;
  transition: background-color 0.3s;
  box-shadow: 11px 10px 18px -8px rgba(0,0,0,0.68);
}

.btnAtras:hover {
  background-color: #cf7937;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .card {
    margin-left: 0px;
  }
}

@media (max-width: 1240px) {
  .card {
    margin-left: 0px;
    margin-right: 0px;
    width: 450px;
  }
  .imput {
    margin-right: 50px;
  }
}

@media (max-width: 970px) {
  .imput {
    margin-right: 0px;
  }
}

@media (max-width: 920px) {
  .imput {
    margin-right: 0px;
  }
  .card {
    width: 350px;
  }
}

@media (max-width: 820px) {
  .all {
    display: initial;
  }
  .card {
    width: auto;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .imput {
    text-align: center;
  }
}
@media (max-width: 685px) {
  .card {
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .input {
    margin-top: 0.5rem; 
  }
  .inputResidencia{
  margin-top: 0.5rem;
  }
}
