.tituloListCar {
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
    background-color: #cae0ed;
    color: #182b39;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 20px;
    width: 550px;
    text-align: center;
}



.listCaract {
    display: flex;
    flex-direction: column;
    background: rgb(84, 157, 194);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
    margin: 20px;
    width: 45%;
}

.elementsCaract {
    width: 550px;  
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: #182b39;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #cae0ed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
    overflow-y: scroll;
    gap:inherit;
    
}
.listId{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;
    
}

.idAdminCaract{
width: 30px;


}


.listaTitle{
    width: 300px;
    
}




.listCaract h2 {
    color: #244356;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    
}

.listCaract ul {
    list-style-type: none;
    padding: 0;
    
}

.listCaract li {
    font-size: 16px;
    
    padding: 5px 0;
    
}

.listCaract li:last-child {
    border-bottom: none;
}
.btnCrear{
    margin-left: 120px;
    margin-right: 120px;
    background: linear-gradient(to right, #418cb1, #327297);
	font-size: 0.9rem;
	color: #e7f1f7;
	padding: 10px 10px;
	margin-top: 10px;
	border: 2px solid #9cc6dd;
	border-radius: 18px;
	position: relative;
	overflow: hidden;
	transition: color 0.5s;
    
}
.editPopup{
    width: 550px;  
    height:fit-content;
    display: flex;
    flex-direction: column;
    color: #182b39;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #cae0ed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
    margin-bottom: 20px;
    gap:inherit;
}


.editPopup>h3{
    text-align: center;
    margin-top: 5px;
}

.inputCaract {
    width: 476px;
    height: 50px;
    background-color: #cae0ed;
    margin-top: 5px;
    border: 2px #9cc6dd solid;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 70px;

}

.inputTitCaract{
    padding-left: 10px;
    color:  #182b39;
    background: #cae0ed;
    border: 2px #9cc6dd solid;
    border-radius: 8px;
    font-weight: 500;
    height: 30px;
    margin-top: 10px;
    
}
.FormBtnCerrar{
    margin-top: 10px;
    background-color: #F89344;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #EFFAFF;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s; 
    }
.FormBtnCerrar:hover {
    background: #ffc9a0;
}

.FormBtn:hover {
	background: #9cc6dd;
}
.btnEditCaracteristica{
	margin-right: 20px;
  background-color: #28a745; /* Cambia el color de fondo a verde brillante */
  color: #fff; /* Cambia el color del texto a blanco */
  border: 1px solid #28a745; /* Cambia el borde al mismo color de fondo */
  transition: background-color 0.25s; /* Agrega una transición al cambio de color de fondo */

  /* Agrega un efecto de brillo al pasar el mouse */
  &:hover {
    background-color: #4caf50; /* Cambia el color de fondo al pasar el mouse */
  }
}


.admin-btn-containerCaract {
    display: flex;
    width: 250px;
    margin-top: 15px;
    margin-left: auto;
    justify-content: space-between;
    gap:inherit;
    
  }

