.historial {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%; 
    margin: auto;
    height: 100%;
}

.titleHistorial {
    font-size: 41px;
    text-align: center;
    color: #F89344;
}

.listadoGeneralH {
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%; 
    align-self: start;
   
   
}

.contenedorAlt{
    height: 45vh;
    overflow-y: scroll;
}

.listadoUl {
    padding: 0%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px
}

.titulosHistorial {

    font-weight: bold;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    width: 98%;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    
}


.listadoHistorial {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin-bottom: 1.5rem;
}
.fechaInicio, .fechaFin, .tituloFechaH, .tituloFechaF{
    text-align: center;
}

.tituloImgHistorial{
    display: flex;
    align-items: center; /* Alinea la imagen y el título verticalmente */
}

.imgHistorial{
    margin-right: 12px;
    width: 80px;
}

.titleReserva{
    width: 100px;
}


.fechasHistorial{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.fechasHistorialTitulos{
    display: flex;
    justify-content: space-between;
    width: 50%;
}


.titleReservaHistorial{
    width: 20vw;
    margin-bottom: auto;
    text-align: left;
    margin-top: auto;
}

.rootRes{
    /* height: 72.7vh; */
    height: 80vh;
}

@media(width < 1200px){
    .imgHistorial{
        width: 40px;
    }
}

@media(width < 850px){
    .titleHistorial{
        font-size: 30px;
    }
    .fechaInicio, .fechaFin, .tituloFechaH, .tituloFechaF, .titleReservaHistorial, .titleReserva{
        font-size: 14px;
    }
}
@media(width < 500px){
    .imgHistorial{
        display: none;
    }
    .contenedorAlt{
        padding-right: 5px;
    }
}

@media(width < 420px){
    .fechaInicio, .fechaFin, .tituloFechaH, .tituloFechaF, .titleReservaHistorial, .titleReserva{
        font-size: 12px;
    }
    .historial{
        width: 100%;
    }

    
}

