.historial {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; 
    margin: auto;
    /* height: 100%; */
}

.titleHistorial {
    font-size: 41px;
    color: #F89344;
}

.listadoGeneralH {
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%; 
    align-self: start;
}

.listadoUl {
    padding: 0%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.titulosHistorial {

    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tituloFechaH{ 
    width: 250px;
}

.listadoHistorial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tituloImgHistorial{
    display: flex;
    align-items: center; /* Alinea la imagen y el título verticalmente */
    width: 50vw;
}

.imgHistorial{
    margin-right: 12px;
    width: 80px;
}

.titleReserva{
    width: 100px;
}
/* 
.tituloFechaH {
    
}

.tituloFechaF{
    
} */

.fechasHistorial{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.fechasHistorialTitulos{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.fechaInicio{
    margin-left: 2.5rem;
}

.fechaFin{
   margin-right: 5rem;
} 

.titleReservaHistorial{
    width: 20vw;
    margin-bottom: auto;
    text-align: left;
    margin-top: auto;
}

.rootRes{
    height: 72.7vh;
}