.listaReseniaSection{
    width: 90%;
    margin-top: 20px;
}
.listaResenias>li>div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.listaReseniaSection h2{
    color: black;
}
.listaReseniaSection h3{
    margin: 0px;
    color: black;
}

.listaResenias{
    display: flex;
    flex-direction: column;
    color: black;
}

.listaReseniaSection p{
    margin: 0px;
}

.listaReseniaSection li > p:nth-child(3){
    font-size: 12px;
    color: #615D5D;

}
.starIcon{
    color: rgb(255, 170, 0)
}