.listaContainer{
  color: black; 


}

.lista{
 margin: 0 0 10px;
  column-count: 3;
  column-gap: 20px; 

}

.titulo{
   margin-top: 60px;

}

.id{
  font-weight: bold;
}

.btnEdit{
  margin-right: 20px;
}

.btn-container{
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 10px;
}
