.listaContainerAdmin {
  display: flex;
  flex-direction: column;
  align-items;
  color: black;
  background-color: white;
  margin: 0 80px;
  padding-top: 25px;
}

.lista {
  padding-top: 5px;
  padding-bottom: 5px;
  column-count: 3;
  column-gap: 20px;
  margin: 5px 0;
}

.tituloListaAdmin {
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f1ba90;
  text-align: center;
}

.id {
  font-weight: bold;
}

.btnEdit {
  margin-right: 20px;
}

.admin-btn-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 10px;
}
