/* Footer */
footer {
    width: 100%;
    height: auto;
    /* background-color: #EFFAFF; */
    /* background: linear-gradient(to right, #f4f8fb, #e7f1f7); */
    background: linear-gradient(to right, #e7f1f7, #cae0ed);
}

.footer-container {
    /* width: 100%; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* max-width: 1200px;  */
    /* width: 960px; */
    margin: 0;
}

.footer-left {
    /* display: flex; */
    width: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.footer-left p {
    margin: 3px;
}

.footer-left img {
    width: 50px;
    /* Ajusta el tamaño del logotipo según tus necesidades */
    margin: 5px auto;
}

.copyright {
    font-size: 12px;
    color: #024263;
}

/* Estilos para la sección "COMPANY" y "SERVICES" */
.footer-left,
.footer-mid,
.footer-right {
    flex: 1;
    /* Distribuye el espacio de manera uniforme entre las dos columnas */
    /* padding: 10px; */
    /* margin-top: 10px; */
}

/* Estilos para los encabezados (h4) en "COMPANY" y "SERVICES" */
.footer-mid h4,
.footer-right h4 {
    font-size: 18px;
    /* Ajusta el tamaño del encabezado según tus necesidades */
    /* margin-bottom: 10px;  */
}

/* Estilos para los elementos de lista en "COMPANY" y "SERVICES" */
.footer-mid p,
.footer-right p {
    margin: 0;
    /* Agregamos espacio entre los elementos de la lista */
    color: #333;
    /* Cambiamos el color del texto de la lista */
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: auto;
    /* padding-top: 20px; */
    margin-top: 0;
    gap: 5%;

}

.social-icons .social-icon {
    color: #539DC2;
    /* width: 100%; */
}


/* .animation:hover {
    background-size: 0 3px, 100% 3px;
}

.animation {
    background:
    linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
    ),
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
} */


@media (max-width: 614px) {
    .footer-container {
        font-size: 12px;
        width: 100%;
    }

    .footer-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .footer-left p {
        margin: 0;
        padding: 0;
    }

    .footer-left img {
        margin: 0;
        max-width: 95px;
    }


    .logo-footer {
        max-width: 100px;
        /* Tamaño máximo de la imagen */
        margin: 0;
    }

    .social-icons {
        display: flex;
        flex-wrap: wrap;
        /* Permite que los elementos se envuelvan en la siguiente línea */
        justify-content: space-evenly;
        /* Distribuye los elementos uniformemente en el espacio disponible */

        a {
            font-size: 12px;
            /* Tamaño de fuente de los íconos */
        }

        /* Ajusta el ancho para que haya 2 elementos por fila en pantallas pequeñas */
        width: 50%;
        margin: 0 auto;
        padding: 0;
        gap: 0%;
    }

    .social-icons a {
        font-size: 12px;
    }

    .social-icon {
        max-width: 20px;
    }

    .copyright {
        font-size: 10px;
        /* Tamaño de fuente de los párrafos */
    }


}



/* .social-icons */

/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    height: 100vh;
    background-color: hsl(203, 20%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
} */

ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.item a {
    text-decoration: none;
    width: 3.4rem;
    height: 3.4rem;
    background-color: hsl(203, 92%, 97%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid hsl(203, 92%, 97%);
    overflow: hidden;
}

.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
}

.item:hover a::before {
    scale: 1 1;
}

.icon {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
}

.item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
    --bg-color: #0077b5;
}

.item:nth-child(3) {
    --bg-color: #ff0000;
}

.item:nth-child(4) {
    --bg-color: #000;
}