.detailcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9cc6dd;
    padding-bottom: 30px;
    margin-top: 10px;
}

.bookcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #75bed6;
    border-radius: 10px;
    background-image: url('../../img/detail.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.btnVer {
    background-color: #F89344;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 13px;
    border: none;
    border-radius: 10%;
    margin: 20px;
}

.btnVer:hover {
    background-color: #cf7937;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.book {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainimg {
    /* width: 40vw; */
    /* max-height: 100%; */
    object-fit: cover;
    display: block;
    

}

.bookh1 {
    color: black;
    margin: 20px 0;
    font-size: 32px;
    text-align: left;
}

.bookp {
    color: black;
    font-weight: 500;
    margin-top: 20px;
    font-size: 18px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-content: center;
    justify-items: center;
    padding: 1rem;
    width: 45vw;
    
}

.galeria img {
    width: 100%;
}

.sectionDetalles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    background-color: #75bed6; /* Agregar un fondo para destacar la sección */
    padding: 20px; /* Añadir espacio interno para mejorar la separación */
    border-radius: 10px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding-left: 5rem;
    
}

.btnAtras {
    background-color: #F89344;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    margin: 20px;
    transition: background-color 0.3s;
}

.btnAtras:hover {
    background-color: #cf7937;
}

/*alinear boton cerrar*/
.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.closeBtn{

    background-color: #F89344;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border: none;
    border-radius: 10%;
    margin: 20px;
}