/* Modal.module.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modalcontent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}



.closemodal {
    /* position: absolute; */
    margin-top: 10px;
    margin-right:100px;
    width: 70px;
    top: 10px;
    right: 10px;
    background-color: #F89344;
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 9px;
    border: none;
    border-radius: 10%;
}