.tituloListCat {
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
    background-color: #cae0ed;
    color: #182b39;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 20px;
    width: 500px;
    text-align: center;
}

.listaContCat{
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #182b39;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #cae0ed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
    overflow-y: scroll;
}

.btnEditCat{
    margin-right: 20px;
    background-color: #28a745; 
    color: #fff;
    border: 1px solid #28a745;
    transition: background-color 0.25s;
    width: 100px;
    &:hover {
        background-color: #4caf50; /* Cambia el color de fondo al pasar el mouse */
    }
}

.textCat{
width: 350px;
}