/* Estilos para ListarCategoria */

.categorias-list {

    background: rgb(84, 157, 194);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
    
}

.vertical-list {
    display: flex;
    flex-direction: column;
    color: #cae0ed;
}

.categorias-list h2 {
    color: #244356;
    font-size: 20px;
    margin-bottom: 10px;
}

.categorias-list ul {
    list-style-type: none;
    padding: 0;
}

.categorias-list li {
    font-size: 16px;
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.categorias-list li:last-child {
    border-bottom: none;
}

.categorias-list ul li {
    display: block;
    /* Esto asegura que los elementos de la lista se muestren uno debajo del otro (verticalmente) */
}