.book {
    /* ... */
}

.book img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: filter 0.3s;
}

.book img:hover {
    filter: brightness(1.2);
}

.title {
    font-size: 14px;
    color: black;
}

.price {
    color: rgb(216, 61, 61);
}
