.tituloNewCat{
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
    background-color: #cae0ed;
    color: #182b39;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 20px;
    width: 500px;
    text-align: center;
}

.agregar-categoria {
    width: 500px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #182b39;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #cae0ed;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 11px 09px 10px #00000061;
}

.agregar-categoria-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agregar-categoria form {
    display: flex;
    flex-direction: column;
}

.agregar-categoria label {
    color: #182b39;
    font-weight: bold;
    margin-bottom: 5px;
}

.agregar-categoria input,
.agregar-categoria textarea {
    all: unset;
    color: #182b39;;
    padding: 8px;
    border: 1px solid #9cc6dd;
    border-radius: 10px;
    margin-bottom: 10px;
}
