.listaPaginada {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    gap: 10px;
    padding: 20px;
    background-color: white;
    background-color: lightblue;
}

li {
    flex-direction: column;
    font-weight: 700;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title{
    font-size: 14px;
}

p {
    color: rgb(49, 49, 49);
    padding-top: 5px;
    margin-bottom: 2px;
}

.price {
    color: rgb(216, 61, 61);
}

.book img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.listaContainer {
    background-color: white;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: lightblue;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-anterior,
.btn-siguiente {
    background-color: #EFFAFF;
    border: 1px solid transparent;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #f89344;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
}


@media (max-width: 614px) {
    .listaPaginada {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 10px;
        padding: 20px;
        background-color: white;
    }

    .listaContainer {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .book img {
        width: 50%;

        height: auto;
        display: block;
        margin: 0 auto;
    }

    .title {
        font-size: 10px;
    }

    .btn-anterior,
    .btn-siguiente {
        font-size: 12px; /* Adjust the font size */
        padding: 5px 10px; /* Adjust the padding to make the buttons smaller */
    }

}