.listado{
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* background-color: ; */
}

.h2{
    color: #ff9e71;
    font-size: 40px;
}

.cardFavs{
    /* margin: 0%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-grow: 50%; */
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #eeeeee;
}
@media (max-width: 1466px){
    .cardFavs{
        grid-template-columns: repeat(5, minmax(100px, 1fr));
    }
}
@media (max-width: 1200px){
    .cardFavs{
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
}
@media (max-width: 950px){
    .cardFavs{
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

@media (max-width: 750px){
    .cardFavs{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}


@media (max-width: 600px){
    .cardFavs{
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}