.contentContFav{
    height: auto;
}

.listado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.h2{
    color: #ff9e71;
    font-size: 40px;
    margin: 5px;
}
.listado>p{
    margin: 0;
    font-size: 24px;
    color: black;
}

.cardFavs{
    /* margin: 0%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-grow: 50%; */
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 10px;
    background-color: #eeeeee;
    height:auto;
    margin-left: 2rem;
    margin-right: 2rem;
   /* overflow-y: scroll;*/
}
.favRed{
    color:red;
}
.favGray{
    color:gray;
}
@media (max-width: 1466px){
    .cardFavs{
        grid-template-columns: repeat(5, minmax(100px, 1fr));
    }
    h2{
        margin: 2px;
    }
}
@media (max-width: 1200px){
    .cardFavs{
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
}
@media (max-width: 950px){
    .cardFavs{
        grid-template-columns: repeat(3,250px) ;
    }
}

@media (max-width: 750px){
    .cardFavs{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}


@media (max-width: 600px){
    .card{
        /* width: 80%; */
        width: 60vw;
    }
    .listado{
        justify-content: flex-start;
    }
    .h2{
        margin: 1.5px;
        font-size: 30px;
    }
    .cardFavs{
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}
