.search-container {
    width: 100%;
    text-align: center;
    padding-top: 70px;
    background-color: #539DC2;
}

.search-input {
    margin-bottom: 10px;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #EFFAFF;
    color: #539DC2;
    border: 1px solid transparent;
    border-radius: 8px;
}

.category-select {
    margin-bottom: 10px;
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #EFFAFF;
    color: #539DC2;
    border: 1px solid transparent;
    border-radius: 8px;
}

.product {
    background-color: #EFFAFF;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    
    border-radius: 4px;
    height: 100px;
    width: 100px;
    
}

.product-recommendations {
    display: flex;
    justify-content: space-evenly;
}

.input-select {
    display: flex;
    
    justify-content: space-around; /* Centrar horizontalmente */
    
}


.product-recommendations p {
    color: black;
    
} 