.search-container {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-color: #539DC2;
    
}

.search-input {
    margin-bottom: 10px;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #EFFAFF;
    color: #539DC2;
    border: 1px solid transparent;
    border-radius: 8px;
}

.category-select {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #EFFAFF;
    color: #539DC2;
    border: 1px solid transparent;
    border-radius: 8px;
}
.category-square {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .category-square>img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    background-color: blueviolet;
  }

.product {
    background-color: #EFFAFF;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    
    border-radius: 4px;
    height: 100px;
    width: 100px;
    
}

.product-recommendations {
    display: flex;
    justify-content: space-evenly;
}

.input-select {
    display: flex;
    width: 100%;
    
    justify-content: space-around; /* Centrar horizontalmente */
    
}


.product-recommendations p {
    color: black;
    
} 