/* .divAmplio{
    
    
} */

.caract{
    color: rgb(87, 87, 87);
    font-size: 24px;
    text-align: center;
    margin: 1px;
    
}

.listaCarac{
    color: black;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.listaIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listaIcon>p{
    margin-top: 0px;
    margin-left: 8px;
}

.imgIcono{
    max-width: 25px;
}

@media (max-width: 600px) {
    .listaCarac{
        flex-direction: column;
        align-items: flex-start;
    }
}