/* .divAmplio{
    
    
} */

.caract{
    color: rgb(87, 87, 87);
    font-size: 24px;
    text-align: center;
    margin: 1px;
    
}

.listaCarac{
    padding: 0;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.listaIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.listaIcon>p{
    margin-top: 2rem;
    margin-left: 8px;
}

.imgIcono{
    max-width: 25px;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .listaCarac{
        flex-direction: column;
        align-items: flex-start;
    }
}