/* .divAmplio{
    
    
} */

.caract{
    text-align: center;
    margin: 1px;
}

.listaCarac{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.listaIcon{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.listaIcon>p{
    margin-left: 8px;
}

.imgIcono{
    max-width: 25px;
}