.busquedaContainer{
    display: flex;
}
.busquedaTituloContainer, .busquedaFechaContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputBusqueda{
    height: 25px;
    width: 250px;
}
  
  .selected-option {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    display: inline-block;
  }
  
  .options-list {
    position: absolute;
    top: 40px;
    z-index: 2;
    width: 250px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    height: auto;
    max-height: 250px;
    overflow-y: scroll;
    gap: 5px;
  }
  
  .options-list li {
    color: black;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  

  
  .custom-select:hover .options-list {
    display: block;
  }
  /*
.autoCompleteLibros{
    display: flex;
    flex-direction: column;
}*/