.sugerenciaLibros {
    position: absolute;
    z-index: 1;
   /* background-color: white;*/
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .inputBusqueda{
    height: 25px;
    width: 250px;
  }
  
  .sugerenciaLibros ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sugerenciaLibrosLi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  .sugerenciaLibrosLi:hover{
    background-color: #bbb;
  }

  .imgBusquedaMini{
    width: 30px;
    height: auto;
  }
  
  