
.avatar-container-open {
    position: relative;
}

.custom-dropdown {
    position: absolute;
    top: 120%;
    right: 10%;
    z-index: 1;
    background-color: #539dc2;
    border: 1px solid #f5f4f2;
    padding: 10px;
    min-width: 150px;
    border-radius: 10%;
}

.custom-dropdown-item {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: 0.4s;
}

.custom-dropdown-item:hover{
    scale: 1.2;
    color: rgb(12, 102, 161);
}

.custom-logout {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}
.custom-logout:hover {
    color: #0056b3; 
    scale: 1.2;
}